/*Modale Formular */
#contact_modal {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 15px;
  background: rgb(242, 242, 242);
  opacity: 0.95;
  bottom: 0px;
}
#contact_modal .fa-xmark {
  font-size: 50px;
  background: #db8876;
  border: none;
  color: white;
  font-weight: bold;
}

.contactButton {
  font-size: 22px;
  /*font-weight: bold;*/
  color: white;
  /*padding: 11px;*/
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  order: 1;
}
.contactButton:hover {
  background-color: #db8876;
  color: #000000;
}
.contactButton:focus {
  background-color: #db8876;
  color: #000000;
  box-shadow: 0 0 20px #901c1c;
  border-radius: 5px;
}

.btn-submit {
  font-size: 22px;
  /*font-weight: bold;*/
  color: white;
  /*padding: 11px;*/
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  min-width: 30%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  position: relative;
}
.modal .headerModal {
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: baseline;
}
.modal .headerModal button {
  cursor: pointer;
}

.contactName {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  width: 100%;
  height: 100%;
}
.contactName .contactTitle {
  margin: 0 0 0 0px;
}
.contactName .tagNameModal {
  margin: 10px 0px 10px 0px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 36px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

.submitButton {
  font-size: 22px;
  color: white;
  width: 170px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

#missingFirstName {
  display: none;
  color: red;
  font-size: 13px;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
  align-items: center;
}

#missingLastName {
  color: red;
  font-size: 13px;
  display: none;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
  align-items: center;
}

#missingEmail {
  color: red;
  font-size: 13px;
  display: none;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
  align-items: center;
}

#missingMessage {
  color: red;
  font-size: 13px;
  display: none;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
  align-items: center;
}

/*Modale Formular End */
@media screen and (max-width: 980px) {
  #contact_modal {
    left: 0;
  }
  .modal {
    min-width: 50%;
    width: 75%;
  }
}
@media screen and (max-width: 590px) {
  .modal {
    min-width: 50%;
    width: 70%;
  }
} /*# sourceMappingURL=modale.css.map */
